* {
  box-sizing: border-box;
}

.page {
  display: flex;
}

.big {
  /*flex-direction: row;*/
  width: 100vh;
  height: 100vh;
  background-image: url(../images/image_1.png);
  background-size: cover;
}

.small {
  display: flex;
  flex-direction: column;
  width: 50vh;
  height: 100vh;
}

.im1 {
  background-image: url(../images/image_2.png);
  background-size: cover;
  width: 50vh;
  height: 50vh;

}

.im2 {
  background-image: url(../images/image_3.png);
  background-size: cover;
  width: 50vh;
  height: 50vh;
}
