.gallery {
}

.galleryRail {
  display: flex;
  transition: all .3s ease;
}

.big {
  max-width: 100%;
  height: auto;
}

/*.small {
  width: 293px;
  height: 293px;
}*/

img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

.big img {
  width: 586px;
  height: 586px;
}

.small img {
  width: 293px;
  height: 293px;
}
