body {
  margin: 0;
}

.galleryRail {
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  overflow-y: hidden;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

div {
  background-size: cover;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

div.big {
  width: 100vh;
  height: 100vh;
}

.small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

div.small {
  width: 50vh;
  height: 50vh;
}

.page #im1 {
  background-image: url(../images/image1.png);
}

.page #im2 {
  background-image: url(../images/image2.jpg);
}

.page #im3 {
  background-image: url(../images/image3.jpg);
}

.small #im1u {
  background-image: url(../images/image1_2.png);
}

.small #im2u {
  background-image: url(../images/image2_2.jpg);
}

.small #im3u {
  background-image: url(../images/image3_2.jpg);
}

.small #im1d {
  background-image: url(../images/image1_3.png);
}

.small #im2d {
  background-image: url(../images/image2_3.jpg);
}

.small #im3d {
  background-image: url(../images/image3_3.jpg);
}

#slider {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}

.arrow {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: black;
    width: 70px;
    height: 100%;
    opacity: 0;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    z-index: 1;
}

.left {
  left: -20px;
  background-image: url(../images/pic.png);
  background-repeat: no-repeat;
  background-position: center;
 }

.right {
  right: -20px;
  background-image: url(../images/pic2.png);
  background-repeat: no-repeat;
  background-position: center;
}

#slider:hover .left {
    left: 0;
    opacity: .3;
}

#slider:hover .right {
    right: 0;
    opacity: .3;
}
